<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Sebastian Romero Laguna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/cv.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-left">
                <h1 id="name"></h1>
                <h2 id="label"></h2>
            </div>
            <div class="header-right">
                <div id="contact"></div>
            </div>
        </header>

        <main class="cv-main">
            <section id="summary">
                <h3>Summary</h3>
                <p id="summary-content"></p>
            </section>
            <section id="skills">
                <h3>Skills</h3>
                <div id="skills-container"></div>
            </section>
            <section id="work">
                <h3>Work Experience</h3>
                <div id="work-container"></div>
            </section>
            <section id="projects">
                <h3>Projects</h3>
                <div id="projects-container"></div>
            </section>
            <section id="education">
                <h3>Education</h3>
                <div id="education-container"></div>
            </section>
            <section id="publications">
                <h3>Publications</h3>
                <div id="publications-container"></div>
            </section>
            <section id="certificates">
                <h3>Certificates</h3>
                <div id="certificates-container"></div>
            </section>
            <section id="awards">
                <h3>Awards</h3>
                <div id="awards-container"></div>
            </section>
            <section id="languages">
                <h3>Languages</h3>
                <div id="languages-container"></div>
            </section>
        </main>
        <div class="print-button-container">
            <button onclick="window.print()">Print CV</button>
        </div>
    </div>
    <script src="../assets/js/cv.js"></script>
</body>
</html>